src/main/resources/grupoMontana.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified">

    <xs:complexType name="TipoSenderista">
        <xs:sequence>
            <xs:element name="Nombre" type="xs:string"/>
            <xs:element name="Edad">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="18"/>
                        <xs:maxInclusive value="99"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Sexo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="HOMBRE"/>
                        <xs:enumeration value="MUJER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="TipoRuta">
        <xs:sequence>
            <xs:element name="Nombre" type="xs:string"/>
            <xs:element name="DistanciaKm" type="xs:double"/>
            <xs:element name="DesnivelPositivo" type="xs:int"/>
            <xs:element name="Dificultad">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="BAJA"/>
                        <xs:enumeration value="MEDIA"/>
                        <xs:enumeration value="ALTA"/>
                        <xs:enumeration value="EXTREMA"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="TipoActividad">
        <xs:sequence>
            
            <xs:element name="RutaId" type="xs:string"/>
            
            <xs:element name="Fecha" type="xs:date"/>

            <xs:element name="TiempoEmpleado">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Horas" type="xs:int"/>
                        <xs:element name="Minutos">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="59"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Participantes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IdSenderista" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Valoracion">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="Comentarios" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:element name="GrupoMontanaData">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="ListadoSenderistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Senderista" type="TipoSenderista" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="CatalogoRutas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Ruta" type="TipoRuta" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="RegistroActividades">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Actividad" type="TipoActividad" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <xs:key name="KeySenderista">
            <xs:selector xpath="ListadoSenderistas/Senderista"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="KeyRuta">
            <xs:selector xpath="CatalogoRutas/Ruta"/>
            <xs:field xpath="@id"/>
        </xs:key>
        
    </xs:element>

</xs:schema>